#main-box{

    background-color: rgba(31, 31, 31, 0.6);
    backdrop-filter: blur(10px);

    border-radius: 15px;

    width: 60%;
    margin: 20vh auto;
    margin-top: 200px;
    margin-bottom: 0vh;
}

.main-text{
    color: white;
    padding: 20px;
    font-family: "Varela-Regular", sans-serif;
}

#links-box{
    display: flex;
    justify-content: space-between;
    height: 100px;

    background-color: rgba(31, 31, 31, 0.807);
    backdrop-filter: blur(10px);

    width: 30%;
    margin: 0vh auto;
    border-radius: 15px;

    justify-content: space-around;
    align-items: center;
}

.link-img{
    color: white;
    font-size: 60px;
}